.card {
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    position: relative;
}
.card:before {
    content: '';
    position: absolute;
    top: -16px;
    left: -18px;
    width: 36px;
    height: 36px;
    transform: rotate(45deg);
    border-right: 4px solid #1698D9;
    z-index: 1;
}
.card p {
    padding: 0;
    margin: 0;
}

.card__header {}

.card__wrapper {
    height: 480px;
    padding: 20px 40px 0 60px;
    background-color: #F2F2F2;
    background-image: url('/public/assets/images/cat.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    border: 4px solid #1698D9;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    clip-path: polygon(0% 100%, 0% 5.6%, 8.4% 0%, 100% 0%, 100% 100%)
}
.card__topline {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
}
.card__topline__red {
    color: #E62E7A;
}
.card__title {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}
.card__ingredient {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.card__description {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}
.card__weight {
    width: 80px;
    height: 80px;
    background: #1698D9;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card__weight p {
    font-size: 42px;
    line-height: 22px;
    text-align: center;
    padding: 0 20px;
    transform: translateY(8px)
}
.card__weight span{
    font-size: 21px;
    line-height: 22px;
}

.card__links {
    margin-top: 14px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    background: transparent;
}

.card__link {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #1698D9;
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: pointer;
}

.card__links__no {
    color: #FFFF66;
}

.card__disabled .card__header,
.card__disabled .card__description p {
    opacity: 0.2;
}

.card__disabled .card__weight {
    background: #B3B3B3;
}

.card__disabled .card__weight p{
    opacity: 1;
}

.card__disabled:before {
    border-color: #B3B3B3;
}
.card__disabled .card__wrapper {
    filter: saturate(0.4);
    cursor: default;
    border-color: #B3B3B3;
}

.card__disabled .card__wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(120deg, transparent, white);
}

.card__checked .card__wrapper,
.card__checked:before{
    border-color: #D91667;
}
.card__checked .card__weight {
    background: #D91667;
}